@model List<DevExpressASPNETCoreReporting.Models.Report>
@{
    ViewData["Title"] = "Report List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Report List</h2>
<table class="table">
    <thead>
        <tr>
            <th>Report Name</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a href="~/Home/ReportViewer/@item.Id">@Html.DisplayFor(modelItem => item.Name)</a>
                </td>
            </tr>
        }
    </tbody>
</table>
