@model List<DevExpressASPNETCoreReporting.Models.Report>
@{
    ViewData["Title"] = "Report List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Report List</h2>
<table class="table">
    <thead>
        <tr>
            <th>Report Name</th>
            <th colspan="2" class="text-right"><a asp-area="" asp-controller="Home" asp-action="CreateReport" class="btn btn-success">Add Report</a></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td width="70px" class="text-right">
                    <a href="~/Home/ReportViewer/@item.Id" class="btn btn-primary">View</a>
                </td>
                <td width="100px" class="text-right">
                    <a href="~/Home/EditReport/@item.Id" class="btn btn-warning">Design</a>
                </td>
            </tr>
        }
    </tbody>
</table>
