@model DevExpress.XtraReports.UI.XtraReport
@using DevExpress.AspNetCore

@section pageStuff {
    <script src="~/lib/xtrareportsjs/js/web-document-viewer.js" type="text/javascript"></script>
    <script type="text/html" src="~/lib/xtrareportsjs/html/web-document-viewer.html">
    </script>
    <link href="~/lib/xtrareportsjs/css/web-document-viewer-light.css" rel="stylesheet" />
}

<h2>Report Viewer</h2>
@Html.DevExpress().WebDocumentViewer("DocumentViewer").Height("700px")