@model DevExpressASPNETCoreReporting.Models.ReportDesignerModel
@using DevExpress.AspNetCore

@section pageStuff {
<script src="~/lib/xtrareportsjs/js/report-designer.js" type="text/javascript"></script>
<script type="text/html" src="~/lib/xtrareportsjs/html/report-designer.html">
</script>
<link href="~/lib/xtrareportsjs/css/report-designer-light.css" rel="stylesheet" />
}

<h2>Report Designer</h2>
@Html.DevExpress().ReportDesigner("ReportDesigner").Height("1000px").Bind(Model.Report).DataSources(ds => ds.Add("ManageDB", Model.DataSource))
